<h1>All Posts</h1>

<center>
  <%= link_to "Postavi oglas!", new_post_path, id: "postavi_oglas", class: "btn btn-lg btn-primary", remote: true %>
</center>

<ul id="posts">
  <% @posts.each do |post| %>
    <ol class="posts">
      <li class="list-group-item">
    <li id="post-<%= post.id %>">
      <center>

     <h1> <span class="user"><%= link_to post.user.name, post.user %></span> je postavio: </h1>

     <h3>Sadrzaj:</h3>
        <h3><span class="content"><%= post.content %></span></h3>

        <h3>Kontakt:  <span class="kontakt"><%= post.kontakt %></span> </h3>
      <span class="timestamp">
     <%= time_ago_in_words(post.created_at) %> ago.
  </span>
        <%if logged_in? %>
        <%= link_to "izbrisi", post, method: :delete,
                    data: { confirm: "Da li ste sigurni?" } %>
          <% end %>
      </center>
    </li>
      </li>
  <% end %>
  </ol>
</ul>

